.data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.data > div {
    height: auto;
    width: auto;
    /*background-color: royalblue;*/
    padding: 20px;
    margin: 10px;

}

.fiche_album {
    /*filter: opacity(30%);*/
    overflow: hidden;
}
.fiche_album > h2, h4 {
    z-index: 20;
}

.couverture_album {
    height: auto;
    overflow: hidden;
}